@model FitnessDiets.Data.Food


<div>
    <h1>Редактировать</h1>
    <div>
        <form asp-controller="Home" asp-action="FoodsEdit" method="post">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="All"></div>

            <div>
                <label asp-for="FoodName"></label>
                <input type="text" asp-for="FoodName" />
                <span asp-validation-for="FoodName"></span>
            </div>
            <div>
                <label asp-for="Eatenfood"></label>
                <input type="text" asp-for="Eatenfood"/>
                <span asp-validation-for="Eatenfood"></span>
            </div>
            <input type="submit" value="Сохранить" />
        </form>
    </div>
</div>

