
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <a asp-controller="Foods" asp-action="FoodsEdit">Съеденное блюдо</a>
</div>
<div class="text-center">
    @foreach (FitnessDiets.Data.Food entity in Model)
    {
        <div>
            @entity.FoodName
            |
            <a asp-controller="Foods" asp-action="FoodsEdit" asp-route-id="@entity.Id">редактировать</a>
            |
            <form method="post" asp-controller="Foods" asp-action="FoodsDelete">
                <input type="hidden" name="Id" value="@entity.Id" />
                <input type="submit" value="удалить" />
            </form>
        </div>
    }
</div>