
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* */

.title-food {
    font-size: 2.3rem;
    color: #13505B;
}
.title-food a{
    color: black;
}


.info-value{
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 65%;
    margin-top: 20px;
}
.info-value > p{
    display: block;
    font-size: 1.23rem;
}


.block-value {
    border-bottom: 1px solid black;
    margin-top: 20px;
    display: flex;
    font-size: 1.1rem;
    justify-content: space-between;
    padding-bottom: 10px;
}
.w-65{
    width: 65%;
}
.block-edit {
    display: flex;
}

.block-edit a{
    color: black; 
}

.btn-delete{
    border: 2px solid black;
    background-color: transparent;
    color: black;
    width: 120px;
    margin-left: 10px;
    position: relative;
    top: -7px;
}

.btn-delete:hover {
    background: #13505B;
    border: 2px solid #13505B;
    color: #D7D9CE;
}

