
@{
    Layout = null;
}

<!DOCTYPE html>

<section>
    <h1 class="title">Правильное питание: с чего начать? Самый подробный гид по переходу на ПП!</h1>
    <span>Опубликовано: 07.07.2019  Время на чтение: 27 мин  </span>
    <p class="text">
        Вы наверняка не раз слышали расхожее выражение: «Мы – это то, что мы едим». И это действительно так. Выбор продуктов напрямую влияет на наше здоровье.
        Еда является источником стройматериалов для наших клеток, тканей и органов.
        Она обеспечивает жизнедеятельность организма, дает нам энергию и даже влияет на наше настроение.
        <span style="text-decoration: underline">Именно поэтому правильное питание – одно из важнейших условий здорового образа жизни.</span>
    </p>
    <h3 class="title">Кому стоит задуматься о переходе на правильное питание:</h3>
    <ul class="list">
        <li>Тем, кто хочет похудеть и избавиться от лишнего веса.</li>
        <li>Тем, кто решил встать на путь здорового образа жизни (ЗОЖ).</li>
        <li>Тем, кто занимается спортом и хочет поддерживать себя в хорошей физической форме.</li>
        <li>Тем, кто хочет избежать возможных проблем со здоровьем, вызванных неправильным питанием.</li>
        <li>Тем, кто <em>уже</em> имеет проблемы со здоровьем, вызванные неправильным питанием, и должен следовать разумной диете (проблемы ЖКТ, сердечно-сосудистые заболевания и др.)</li>
        <li>Тем, кто хочет приобщить себя и свою семью к здоровым привычкам.</li>
    </ul>
    <p class="text">
        Наиболее частой причиной перехода на правильное питание является желание похудеть. По статистике 54% мужчин и 59% женщин в России страдают лишним весом. Чаще всего избыточный вес является следствием плохих пищевых привычек, нарушения режима питания, неограниченное употребление высококалорийных продуктов, низкая физическая активность.
        <span style="text-decoration: underline">
            Причем лишний вес – это не просто вопрос эстетики и красоты. Это вопрос здоровья и
            нормальной жизнедеятельности всех органов нашего тела.
        </span>
    </p>
    <h2 class="title">5 ПРОСТЫХ ШАГОВ К ПП</h2>
    <p class="text">
        Первый этап включает в себя пять простых советов, которые помогут вам сделать серьезный шаг в сторону правильного питания без особого погружения в теоретический материал.
        Даже следуя этим несложным правилам, вы сможете <span style="text-decoration: underline">сбросить лишние килограммы, очистить питание и приучить себя к разумному потреблению пищи.</span>
    </p>
    <p class="text">
        Разделение на этапы поможет тем, кто раньше не придерживался принципов правильного питания или пока не может позволить себе резко перестроить свой рацион.
        Если у вас уже есть опыт ПП или вы достаточно волевой человек, то вы можете прочитать статью от начала до конца и сразу начать полностью менять свое питание.
    </p>
    <h2 class="title step">ШАГ 1: УБРАТЬ «ПИЩЕВОЙ МУСОР»</h2>
    <p class="text">Самый первый шаг, который вам нужно сделать на пути к правильному питанию, это исключить из своего меню так называемый «пищевой мусор», а именно:</p>
    <ul class="list">
        <li>сахар и сахаросодержащие продукты</li>
        <li>белую выпечку и белые мучные изделия</li>
        <li>колбасу, колбасные изделия, мясные полуфабрикаты</li>
        <li>фастфуд (картофель фри, гамбургеры, чипсы, снеки и т.д.)</li>
        <li>сладкие соки, газировки и лимонады</li>
        <li>майонез, кетчуп и ненатуральные соусы</li>
    </ul>
    <p class="text">
        Во-первых, это продукты с низкой пищевой ценностью, которые, не несут фактически никакой пользы организму.
        Во-вторых, это высококалорийные продукты, которые очень быстро откладываются в жир. В-третьих, большая часть этих продуктов не насыщает организм, поэтому вы будете постоянно чувствовать голод и съедать лишнюю норму еды.
        <span style="text-decoration: underline">Очистив свой рацион от этой группы продуктов, вы уже сделаете огромный шаг к правильному питанию и похудению.</span>
    </p>
    <h2 class="title step">ШАГ 2: ИСКЛЮЧИТЬ АЛКОГОЛЬНЫЕ НАПИТКИ</h2>
    <p>
        Второй шаг предполагает исключение еще одной группы малополезных продуктов – алкогольных напитков.
        Мы не будем сейчас рассуждать о наличии или отсутствии вреда алкоголя при разумных ограничениях, и даже принимать во внимание возможные положительные свойства красного вина.
        <span style="text-decoration: underline">При переходе на ПП мы рекомендуем отказаться от алкоголя совсем</span>, хотя бы на период похудения. Почему лучше отказаться от алкоголя:
    </p>
    <ul class="list">
        <li>Согласно исследованиям, алкогольные напитки действует на нейроны, контролирующие аппетит, что заставляет организм чувствовать сильный голод.</li>
        <li>Даже небольшая доза алкоголя нередко провоцирует пищевой срыв, когда вы из-за потери контроля начинаете «сметать» полезные и неполезные продукты в больших количествах.</li>
        <li>Алкоголь задерживает воду, поэтому на следующий день на весах вы фактически гарантированно увидите «привес», что очень демотивирует.</li>
        <li>Алкоголь замедляет обмен веществ, поэтому процессы похудения в вашем организме будут проходить с более низкой скоростью.</li>
        <li>Алкогольные напитки очень часто идут в комплекте с закусками и снеками, которые добавят лишних калорий.</li>
    </ul>
    <p class="text">
        Кстати, некрепкие алкогольные напитки нельзя отнести к высококалорийным продуктам.
        В 100 мл сухого красного вина содержится 80 ккал, в 100 мл пива – 45 ккал (а вот в крепкой водке уже 230 ккал на 100 г).
        Поэтому есть люди, которые позволяют себе бокал сухого вина или стакан пива раз в неделю без ущерба для похудения.
    </p>
    <p class="text">
        Однако помните, что первые месяцы перехода на правильное питание вы наиболее уязвимы.
        Пищевые привычки еще не устаканились и риск срыва очень высок, поэтому <span style="text-decoration: underline">лучше избегать продуктов-провокаторов, которые «расхолаживают» и расслабляют</span>.
        И алкоголь как раз из таких.
    </p>
    <h2 class="title step">ШАГ 3: НАЛАДИТЬ ПИТЬЕВОЙ РЕЖИМ</h2>
    <p class="text">
        Третий шаг на пути к правильному питанию – это наладить питьевой режим или, иначе говоря, начать пить воду.
        Этот шаг с одной стороны очень простой, но вместе с тем – очень эффективный для похудения. Во-первых, вода участвует практически во всех биохимических процессах в организме, в том числе и в расщеплении жира.
        Во-вторых, вода подавляет аппетит и не позволяет съесть лишнего.
        Польза воды в процессе похудения неоценима, при этом ее энергетическая ценность – 0 калорий.
    </p>
    <p class="text">
        <span style="text-decoration: underline">Приучите себя пить 1,5-2 литра воды в день (это примерно 6-8 стаканов по 250 мл).</span>
        Первое время вам будет казаться, что такое количество воды нереально выпить за день, но постепенно вы сможете сделать это своей полезной привычкой.
    </p>
    <ul class="list">
        <li>Выпивайте один стакан воды после пробуждения.</li>
        <li>Выпивайте по одному стакану воды перед приемом пищи (за 20-30 минут).</li>
        <li>Выпивайте по одному стакану воды до и после физических нагрузок.</li>
        <li>Выпивайте один стакан воды за 30-60 минут до сна.</li>
    </ul>
    <p class="text">
        <span style="text-decoration: underline">Для того чтобы не забывать пить воду, поставьте себе напоминалку на телефон.</span>
        Есть очень много удобных мобильных приложений, которые напоминают о питьевом режиме.
        Также старайтесь всегда держать при себе бутылочку воды (на работе и дома).
    </p>
    <h2 class="title step">ШАГ 4: НАЛАДИТЬ РЕЖИМ ПИТАНИЯ</h2>
    <p class="text">
        етвертый шаг будет одним из самых сложных, но и самых важных одновременно.
        На этом этапе многие спотыкаются, и либо бросают идею ПП, либо скатываются в жесткие диеты.
        Именно поэтому на первом этапе перехода на правильное питание лучше наладить хотя бы режим питания в целом.
        Тонкости распределения белков, углеводов и жиров будут рассмотрены на следующих этапах.
        Итак, общий режим питания будет выглядеть так:
    </p>
    <ul class="list">
        <li>Полноценный завтрак <span style="color: #808080;">(7:00)</span></li>
        <li>Перекус №1 <span style="color: #808080;">(10:00)</span></li>
        <li>Обед <span style="color: #808080;">(13:00)</span></li>
        <li>Перекус №2 <span style="color: #808080;">(16:00)</span></li>
        <li>Ужин <span style="color: #808080;">(19:00)</span></li>
        <li>Легкий перекус за 1 час до сна: кефир, творог <span style="color: #808080;">(21:00)</span></li>
    </ul>
    <p class="text">
        Время указано условно, с учетом подъема в 6:00 и отправление ко сну в 22:00.
        Если вы встаете позже или раньше, то скорректируйте время под свое расписание.
    </p>
    <p class="text">
        <span style="text-decoration: underline">Главный базис правильного питания: питаться каждые 3 часа небольшими порциями (200-250 г).</span>
        Это значит, что вы не делаете больших перерывов между едой. Вы не забываете про завтрак (завтрак должен быть в течение часа после пробуждения).
        Вы не морите себя голодом между приемами пищи, а делаете питательные перекусы. Вы забываете про правило «не есть после 18:00», и всегда ужинаете.
        Пропуски завтраков, скудные обеды и отмены ужинов замедлят обмен веществ и с вероятностью 99% приведут вас к пищевому срыву.
    </p>
    <p class="text">
        При этом ваш завтрак, обед и ужин должны быть полноценными приемами пищи, а не «кофе с печенькой» или «кефир с яблочком».
        Подробнее о меню будет рассказано ниже. Но на первом этапе перехода к ПП приучите себя хотя бы к правильному и сбалансированному режиму питанию примерно каждые 3 часа.
        Перерыв между приемами пищи не должен превышать 4-х часов.
    </p>
    <p class="text">
        <span style="text-decoration: underline">Такое питание увеличивает обмен веществ и ускоряет процесс похудения, а также обеспечивает организм необходимой энергией и питательными веществами.</span>
        Вы перестанете быть постоянно голодными и прекратить жить с ощущением, что вы на диете.
    </p>
    <h2 class="title step">ШАГ 5: НАСТРОИТЬСЯ НА СМЕНУ ОБРАЗА ЖИЗНИ</h2>
    <p class="text">Если вы хотите не просто похудеть, а сохранить полученный результат и поддерживать его в течение жизни, то вам нужно запомнить еще один важнейший принцип правильного питания.
        <span style="text-decoration: underline">Правильное питание должно стать частью вашей жизни, а не краткосрочным этапом для похудения.</span> Настройтесь менять пищевые привычки навсегда.
        Ваш организм отблагодарит вас не только стройным телом, но и крепким здоровьем.
    </p>
    <p class="text">
        Многие рассуждают таким образом: «Вот я сейчас посижу на правильном питании, избавлюсь от лишнего веса, а потом спокойно буду есть все, что захочу».
        Но это ошибочное мнение. <span style="text-decoration: underline">Вес не может быть статичным, он изменяется в зависимости от вашего питания.</span>
        Если вы будете балансировать между правильным питанием и беспорядочным питанием, то вы получите качели веса.
        Килограммы будут уходить, а потом снова набираться при возвращении к прежнему питанию.
    </p>
    <p class="text">
        Аналогичная ситуация и с диетами, только тут будет все гораздо хуже.
        Обычно диета предполагает низкую калорийность, поэтому выдержать ее больше трех-четырех недель очень сложно.
        За этот срок вы, может быть, и потеряете 3-5 кг, но большая часть из этого потерянного объема – это не жир, а вода, которая уходит при уменьшении употребления углеводов, сладостей и соленостей.
        При этом организм адаптируется к низкокалорийной диете, замедляет метаболизм, и после возвращения к привычному питанию усиленно копит жир.
        <span style="text-decoration: underline">В итоге после диеты вы набираете вес еще больше, чем потеряли до этого.</span>
    </p>
    <p class="text">
        <span style="text-decoration: underline">Универсальный совет для худеющих: даже если какая-то быстрая диета вам кажется эффективной и даже если она уже срабатывала не раз, отложите ее прямо сейчас.</span>
        Рано или поздно вы все равно придете к правильному питанию, но к тому времени уже получите проблемы со здоровьем, убитый обмен веществ и разочарование от бесконечных качелей потери и набора веса.
        Начните менять образ жизни и пищевое поведение, а не садитесь на диету.</p>
</section>
